# Gisette Dataset
#####  GISETTE is a handwritten digit recognition problem.
#####  The problem is to separate the highly confusible digits '4' and '9'.

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import csv
import sklearn
import time
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

# Working with the whole dataset:

#### Info regarding the data:

In [2]:
print(f'Some info on the provided Gisette data:\n')
with open('gisette.param') as csvfile:
    for row in csv.reader(csvfile):
        print(row[0])

Some info on the provided Gisette data:

Data type: non-sparse
Number of features: 5000
Number of examples and check-sums:
     	Pos_ex	Neg_ex	Tot_ex	Check_sum
Train	 3000	 3000	 6000	3164568508.00
Valid	  500	  500	 1000	535016668.00
Test	 3250	 3250	 6500	3431572010.00
All  	 6750	 6750	13500	7131157186.00

###### The provided dataset has labels available only for Train and Valid datasets so we made the decision to use Train dataset with its labels to train our machine and then check our machine's performance on the Valid dataset and its labels

#### Reading the Training Dataset and cleaning as needed

In [3]:
gisette_train_data = pd.read_csv('gisette_train.data', delimiter=' ', header=None)
gisette_train_data = gisette_train_data.dropna(axis=1, how='all')

gisette_train_data

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,550,0,495,0,0,0,0,976,0,0,...,0,0,0,991,991,0,0,0,0,983
1,0,0,0,0,0,0,0,976,0,0,...,0,475,0,991,0,0,991,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,0,674,0,0,838
4,0,0,0,0,0,0,0,608,0,979,...,991,0,0,828,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0,0,0,0,0,0,0,0,0,0,...,991,0,0,0,0,0,783,0,0,0
5996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,921,0,886,0
5997,0,0,0,0,0,758,0,0,0,522,...,0,901,0,0,0,0,980,0,0,0
5998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,690,0,0,0,0,0
5999,0,0,991,0,0,0,0,0,0,0,...,0,0,0,288,0,0,972,0,0,991

#### Reading True Positive & Negative Values (Labels) for the Training Dataset

In [4]:
gisette_train_labels = pd.read_csv('gisette_train.labels', delimiter=' ', header=None)

gisette_train_labels

      0
0     1
1    -1
2     1
3     1
4     1
...  ..
5995 -1
5996  1
5997 -1
5998 -1
5999 -1

[6000 rows x 1 columns]

#### Reading the Testing Dataset and cleaning as needed

In [5]:
gisette_test_data = pd.read_csv('gisette_valid.data', delimiter=' ', header=None)
gisette_test_data = gisette_test_data.dropna(axis=1, how='all')

gisette_test_data

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,688,0,0,0,0,0,0,952,0,870,...,0,0,0,0,0,0,494,0,769,0
1,778,758,0,0,0,0,0,708,0,991,...,0,0,0,770,0,0,0,0,0,0
2,469,0,816,0,0,0,0,0,0,0,...,0,0,0,467,0,0,0,417,0,0
3,0,0,0,0,0,571,991,983,0,983,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,949,0,991,...,0,0,0,0,0,0,0,0,976,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,511,0,0,0,0,0,0,0,0,...,991,0,0,852,0,0,0,0,0,0
996,0,0,599,0,0,0,0,910,0,0,...,0,0,0,0,0,0,0,0,0,707
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,742
998,0,0,0,0,0,0,0,968,0,0,...,0,0,0,773,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,952,0,0,0

#### Reading True Positive & Negative Values (Labels) for the Testing Dataset

In [6]:
gisette_test_labels = pd.read_csv('gisette_valid.labels', delimiter=' ', header=None)

gisette_test_labels

     0
0    1
1    1
2   -1
3    1
4    1
..  ..
995 -1
996  1
997  1
998 -1
999 -1

[1000 rows x 1 columns]

#### Training a model using Logistic Regression

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

start = time.time()  #---start time---

#---training the model using Logistic Regression---
log_reg = LogisticRegression(max_iter = 5000)
log_reg.fit(gisette_train_data, np.ravel(gisette_train_labels))

#---evaluating the model on the training and testing datasets---
train_pred = log_reg.predict(gisette_train_data)
test_pred = log_reg.predict(gisette_test_data)

end = time.time()  #---end time---

print('Percentage Accuracy on the Training Data:', accuracy_score(gisette_train_labels, train_pred)*100)
print('Percentage Accuracy on the Testing Data:', accuracy_score(gisette_test_labels, test_pred)*100)
print('Processing Time (in seconds):', end-start)

Percentage Accuracy on the Training Data: 100.0
Percentage Accuracy on the Testing Data: 97.8
Processing Time (in seconds): 8.731826066970825

#### Training a model using a linear kernel Support Vector Machine

In [8]:
from sklearn.svm import SVC

start = time.time()  #---start time---

#---training the model using Support Vector Machine with a linear kernel---
svm_linear = SVC(kernel='linear')
svm_linear.fit(gisette_train_data, np.ravel(gisette_train_labels))

#---evaluating the model on the training and testing datasets---
train_pred = svm_linear.predict(gisette_train_data)
test_pred = svm_linear.predict(gisette_test_data)

end = time.time()  #---end time---

print('Percentage Accuracy on the Training Data:', accuracy_score(gisette_train_labels, train_pred)*100)
print('Percentage Accuracy on the Testing Data:', accuracy_score(gisette_test_labels, test_pred)*100)
print('Processing Time (in seconds):', end-start)

Percentage Accuracy on the Training Data: 100.0
Percentage Accuracy on the Testing Data: 97.6
Processing Time (in seconds): 53.155731201171875

#### Training a model using a degree 2 polynomial kernel Support Vector Machine

In [9]:
start = time.time()  #---start time---

#---training the model using Support Vector Machine with a degree 2 polynomial kernel---
svm_poly_2 = SVC(kernel='poly', degree=2)
svm_poly_2.fit(gisette_train_data, np.ravel(gisette_train_labels))

#---evaluating the model on the training and testing datasets---
train_pred = svm_poly_2.predict(gisette_train_data)
test_pred = svm_poly_2.predict(gisette_test_data)

end = time.time()  #---end time---

print('Percentage Accuracy on the Training Data:', accuracy_score(gisette_train_labels, train_pred)*100)
print('Percentage Accuracy on the Testing Data:', accuracy_score(gisette_test_labels, test_pred)*100)
print('Processing Time (in seconds):', end-start)

Percentage Accuracy on the Training Data: 99.8
Percentage Accuracy on the Testing Data: 98.0
Processing Time (in seconds): 83.20601177215576

#### Training a model using a degree 3 polynomial kernel Support Vector Machine

In [10]:
start = time.time()  #---start time---

#---training the model using Support Vector Machine with a degree 3 polynomial kernel---
svm_poly_3 = SVC(kernel='poly', degree=3)
svm_poly_3.fit(gisette_train_data, np.ravel(gisette_train_labels))

#---evaluating the model on the training and testing datasets---
train_pred = svm_poly_3.predict(gisette_train_data)
test_pred = svm_poly_3.predict(gisette_test_data)

end = time.time()  #---end time---

print('Percentage Accuracy on the Training Data:', accuracy_score(gisette_train_labels, train_pred)*100)
print('Percentage Accuracy on the Testing Data:', accuracy_score(gisette_test_labels, test_pred)*100)
print('Processing Time (in seconds):', end-start)

Percentage Accuracy on the Training Data: 99.78333333333333
Percentage Accuracy on the Testing Data: 96.7
Processing Time (in seconds): 110.3960165977478

#### Training a model using a degree 4 polynomial kernel Support Vector Machine

In [11]:
start = time.time()  #---start time---

#---training the model using Support Vector Machine with a degree 4 polynomial kernel---
svm_poly_4 = SVC(kernel='poly', degree=4)
svm_poly_4.fit(gisette_train_data, np.ravel(gisette_train_labels))

#---evaluating the model on the training and testing datasets---
train_pred = svm_poly_4.predict(gisette_train_data)
test_pred = svm_poly_4.predict(gisette_test_data)

end = time.time()  #---end time---

print('Percentage Accuracy on the Training Data:', accuracy_score(gisette_train_labels, train_pred)*100)
print('Percentage Accuracy on the Testing Data:', accuracy_score(gisette_test_labels, test_pred)*100)
print('Processing Time (in seconds):', end-start)

Percentage Accuracy on the Training Data: 99.2
Percentage Accuracy on the Testing Data: 94.1
Processing Time (in seconds): 140.3367474079132